<% content_for(:title) do %>
  <%= t('.hello', user: @user.to_s) %>
<% end %>

<%= simple_format(t('.description')) %>
<div style="text-align: center; font-size: 32px; padding: 16px; border: 2px solid black; border-radius: 16px;">
  <%= @user.votecode %>
</div>
