<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('vote_user.mailer.votecode.title') %></h1>
    <%= simple_format(t('vote_user.mailer.votecode.description')) %>
    <%= @user.votecode %>
  </body>
</html>
