<div class="col-md-6 offset-md-3 col-sm-12 reg-page form">
  <div class="headline">
    <h1><%= title(@vote.title) %></h1>
  </div>

  <div id="<%= dom_id(@vote) %>-form">
    <%= render('form', vote: @vote, vote_post: VotePost.new) %>
  </div>
</div>
