<% provide(:title, t(:about)) %>
<h2><%= t(:about) %></h2>
<div class="search-blocks search-blocks-top-orange">
  <div class="col-md-8 col-xs-12">
    Nu har vi äntligen ett digitalt valsystem!
  </div>
</div>
