<div class="col">
  <%= render '/items/start_page', items: @start_page.items %>
</div>

<div class="col">
  <%= render '/users/confirm_information' %>
  <%= render(@start_page.news) if @start_page.news.present? %>
</div>
