<div class="headline">
  <h1><%= t('.title') %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= link_to(t('.all_news'),
              admin_news_index_path, class: 'btn secondary') %>
  <%= link_to(t('.destroy'),
              admin_news_path(@news), method: :delete,  class: 'btn danger') %>
</div>

<div class="col-md-10 col-sm-12">
  <%= render 'form', news: @news %>
</div>
