<% provide(:title, t('vote.admin_votes')) %>
<div class="col-md-6 offset-md-3 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= t('vote.edit_vote') %></h1>
  </div>
  <%= render 'form' %>
  <hr>
  <%= link_to(t('vote.show'), admin_vote_path(@vote), class: 'btn secondary') %>
</div>
