<div class="headline">
  <h2><%= t('vote.admin_votes') %></h2>
</div>
<div class="col-md-12">
  <%= link_to t('vote.new_vote'), new_admin_vote_path, class: 'btn primary' %>
  <% if can? :manage, User %>
    <%= link_to t('user.manage'), admin_users_path, class: 'btn secondary' %>
  <% end %>
</div>
<div class="col-md-12">
  <%= grid(@votes_grid) do |grid|
    grid.column name: t('attributes.name'), attribute: 'title' do |v|
      link_to v.title, admin_vote_path(v)
    end
    grid.column name: t('vote.open'), attribute: 'open' do |v|
      yes_no(v.open)
    end
    grid.column name: t('vote.open_close') do |v|
      link_to (v.open ? t('vote.do_close') : t('vote.do_open')), change_state_admin_vote_path(v)
    end
    grid.column name: t('edit') do |v|
      link_to t('edit'), edit_admin_vote_path(v)
    end
    grid.column name: t('remove') do |v|
      link_to t('remove'), admin_vote_path(v), method: :delete, data:
                            {confirm: t('vote.confirm_remove') + v.title + '?'}
    end
  end -%>
</div>
