<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-md-3">
  <%= link_to(t('.all_votes'),
              admin_votes_path, class: 'btn btn-secondary') %>
  <hr />
</div>

<div class="col-12 col-md-9">
  <%= render 'form', vote: @vote, sub_items: @sub_items %>
</div>
