<div class="headline">
  <h2><%= t('permission_user.title') %></h2>
</div>
<div class="col-md-12">
  <%= link_to t('permission_user.new'), new_admin_permission_user_path, class: 'btn primary' %>
</div>
<div class="col-md-12">
  <%= grid(@perm_user_grid) do |grid|
    grid.column name: PermissionUser.human_attribute_name(:id), attribute: 'id'
    grid.column name: PermissionUser.human_attribute_name(:user), assoc: :user, attribute: 'firstname' do |x|
      user_link(x.user)
    end
    grid.column name: PermissionUser.human_attribute_name(:permission), assoc: :permission, attribute: 'subject_class' do |x|
      x.permission
    end
    grid.column name: t('remove') do |x|
      link_to t('remove'), admin_permission_user_path(x), method: :delete,
      data: {confirm: permission_confirmation(perm_user: x)}
    end
  end -%>
</div>
