<div class="col-12 col-sm-6 mb-4">
  <div class="p-2 border-bottom border-secondary">
    <h4><%= fa_icon('files-o', text: t('.title')) %></h4>
    <% any = false %>
    <% sub_items.each do |sub_item| %>
      <% next if sub_item.documents.empty? %>
      <% any = true %>
      <div class="list-group">
        <% if item.multiple? %>
          <div class="list-group-item">
            <div class="w-100">
              <h4 class="mb-1"><%= sub_item %></h4>
            </div>
          </div>
        <% end %>
        <div class="list-group-item">
          <ul>
            <% sub_item.documents.each do |doc| %>
              <li>
                <%= link_to(doc.filename, url_for(doc),
                            target: :blank,
                            class: 'd-block text-truncate') %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%= simple_format(t('.no_documents')) unless any %>
  </div>
</div>
