.agenda {
  .badge {
    color: $white;
    font-size: 14px;
  }

  .closed {
    .list-group-item-heading,
    .list-group-item-text {
      :link,
      :visited {
        color: $gray-text;
      }

      :hover {
        color: $main-color;
      }
    }

    .badge {
      background: $green;
    }
  }

  .current {
    border: 3px solid $main-color;
    margin-bottom: 0;

    .list-group-item-heading,
    .list-group-item-text {
      :link,
      :visited {
        color: $black;
      }

      :hover {
        color: $main-color;
      }
    }

    .badge {
      background: $main-color;
    }
  }

  .future {
    .list-group-item-heading,
    .list-group-item-text {
      :link,
      :visited {
        color: $black;
      }

      :hover {
        color: $main-color;
      }
    }

    .badge {
      background: $gray-headline;
    }
  }
}
