.agenda {
  .badge {
    font-size: 14px;
  }

  .closed {
    .list-group-item-heading,
    .list-group-item-text {
      :link,
      :visited {
        color: $gray-text;
      }

      :hover {
        color: $fsek-orange;
      }
    }

    .badge {
      background: $unify-green;
    }
  }

  .current {
    border: 3px solid $fsek-orange;
    margin-bottom: 0;

    .list-group-item-heading,
    .list-group-item-text {
      :link,
      :visited {
        color: $black;
      }

      :hover {
        color: $fsek-orange;
      }
    }

    .badge {
      background: $unify-orange;
    }
  }

  .future {
    .list-group-item-heading,
    .list-group-item-text {
      :link,
      :visited {
        color: $black;
      }

      :hover {
        color: $fsek-orange;
      }
    }

    .badge {
      background: $gray-headline;
    }
  }
}

.agenda-grid {
  tr {
    &.current {
      td,
      &.even td,
      &.odd td {
        background-color: $orange-highlight;
      }
    }
  }
}
