.dropdown {
  &.right {
    .dropdown-menu {
      left: auto;
      right: 0;

      .dropdown-submenu {
        .dropdown-menu {
          left: auto;
          right: 100%;
        }
      }
    }
  }
}

.dropdown-menu {
  .menu {
    i {
      float: right;
      margin-top: 4px;
    }
  }
}
