.news {
  border-bottom: 1px solid $gray-text;
  margin-bottom: 1em;
  padding-bottom: 1em;

  span {
    display: inline-block;
    font-style: italic;
    margin-left: 5px;
  }

  p {
    margin-left: 5px;
  }
}
