
.user {
  .round-icon {
    border: 50px;
    border-radius: 50%;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 22px;
  }

  .icon-background {
    color: $white;

    &.green {
      background: $unify-green;
    }

    &.red {
      background: $unify-red;
    }
  }

  &.table {
    border: none;

    tr {
      border: none;
    }
  }

  &.post-list {
    list-style: none;
    padding-left: 4px;

    li:before {
      content: "- ";
    }
  }

  &.status {
    margin-bottom: 20px;

    span {
      display: block;
    }

    .not-present {
      font-size: 18px;

      i {
        color: $unify-red;
        font-size: 26px;
      }
    }

    .present {
      font-size: 18px;

      i {
        color: $unify-green;
        font-size: 26px;
      }
    }
  }

  &.signup-terms {
    display: block;
    margin-bottom: 10px;
  }
}
