.adjustment-grid {
  tr {
    &.present {
      td,
      &.even td,
      &.odd td {
        background-color: $orange-highlight;
      }
    }
  }
}

.ui-sortable tr {
  cursor: pointer;
}

.ui-sortable tr:hover {
  background: $orange-highlight;
}
