.vote {
  &.button {
    width: 87px;
  }

  .missing {
    font-size: 18px;
    text-align: center;

    i {
      color: $main-color;
      font-size: 20px;
    }
  }
}

.fa-agenda {
  &::before {
    content: '§';
  }
}
