.vote {
  &.status {
    text-align: center;

    .counter {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .current {
      display: block;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .large {
      color: $fsek-orange;
      display: block;
      font-size: 50px;
    }

    .fa-agenda::before {
      content: "§";
      font-weight: bold;
    }

    .refresh {
      font-size: 20px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &.agenda {
    display: block;
    margin-bottom: 10px;
  }

  .missing {
    font-size: 18px;
    text-align: center;

    i {
      color: $fsek-orange;
      font-size: 20px;
    }
  }

  .not-present {
    font-size: 20px;

    i {
      color: $unify-red;
      font-size: 26px;
    }
  }

  .present {
    font-size: 20px;

    i {
      color: $unify-green;
      font-size: 26px;
    }
  }
}
