@import "colors";
// Importing Bootstrap
@import "bootstrap";

// Include colors and mixins
@import "lth";
@import "mixins";
@import "fonts";
@import "media-queries";

// Include partials
@import "partials/*";
@import "style/*";

// Include gems
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "cookies_eu";
@import "pagedown_bootstrap";

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

body {
  color: $footer-gray;
  line-height: 1.6;
  padding-top: 5rem;
}

html {
  font-size: 14px;
}

.text-1 {
  font-size: 1rem;
}

.text-2 {
  font-size: 1.25rem;
}

.text-3 {
  font-size: 1.5rem;
}

.text-4 {
  font-size: 1.75rem;
}

.text-5 {
  font-size: 2rem;
}
