@import "colors";
// Importing Bootstrap
@import "bootstrap";
@import "style/*";

// Include gems
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "cookies_eu";
@import "pagedown_bootstrap";

.min-height-vh {
  min-height: 100vh;
}

.flex-1 {
  flex: 1;
}

body {
  line-height: 1.6;
  padding-top: 5rem;
}

html {
  font-size: 14px;
}
