@font-face {
  font-family: "Glyphicons Halflings";
  src: asset-url("assets/glyphicons-halflings-regular.eot");
  src: asset-url("assets/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  asset-url("assets/glyphicons-halflings-regular.woff") format("woff"),
  asset-url("assets/glyphicons-halflings-regular.ttf") format("truetype"),
  asset-url("assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face {
  font-family: "LTH";
  src: font-url("LTH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
