<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-sm-2">
  <%= link_to(t('.all'), admin_users_path, class: 'btn primary') %>
</div>

<div class="col-12 col-sm-10 user">
  <%= render('form', user: @user) %>
</div>
