<% title(models_name(User)) %>
<div class="headline">
  <h1><%= t('user.admin_index') %></h1>
</div>

<div class="col-md-2 col-sm-12 user margin-bottom-20">
  <button class="wg-external-submit-button btn primary" data-grid-name="grid">
    <%= t('wice_grid.filter') %>
  </button>

  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('wice_grid.reset_filter') %>
  </button>
</div>

<div class="col-md-10 col-sm-12 user">
  <%= grid(@users_grid, hide_submit_button: true, hide_reset_button: true) do |g|
    g.column(name: User.human_attribute_name(:name), attribute: 'firstname') do |user|
      link_to(admin_print_user(user), edit_admin_user_path(user))
    end
    g.column(name: models_name(Permission), assoc: :permissions, attribute: 'name') do |user|
      permission_list(user)
    end
    g.column(name: User.human_attribute_name(:email), attribute: 'email')
    g.column(name: User.human_attribute_name(:confirmed_at), attribute: 'confirmed_at',
             filter: false)
    g.column(name: t(:show), filter: false) do |user|
      link_to(t('user.vote.show'), admin_vote_user_path(user))
    end
  end -%>
</div>
