.cookies {
  .cookies-eu {
    background: gray('100');

    .cookies-eu-button-holder {
      .cookies-eu-ok {
        background-color: theme-color('primary');
        background-image: none;
        border: 1px solid theme-color('primary');
      }
    }
  }
}
