.copyright {
  background: $footer-gray;
  bottom: 0;
  font-size: 12px;
  height: 70px;
  padding: 11px 0 7px;
  position: absolute;
  width: 100%;

  .year {
    float: left;
  }

  .contact {
    float: right;
  }

  @media (max-width: 500px) {
    padding: 5px 0 0;
  }

  @media (max-width: 412px) {
    height: 89px;
  }

  p {
    color: none;

    .copyright-space {
      margin-top: 12px;
    }
  }

  a {
    color: $fsek-orange;
    margin: 0 5px;

    &:hover {
      color: $link-hover-color;
    }
  }
}

