p,
li {
  color: gray('600');
  line-height: 1.6;
}

.fa-agenda {
  &::before {
    content: '§';
    font-weight: bold;
  }
}

.select2-container {
  max-width: 100%;
}

.text-1 {
  font-size: 1rem;
}

.text-2 {
  font-size: 1.25rem;
}

.text-3 {
  font-size: 1.5rem;
}

.text-4 {
  font-size: 1.75rem;
}

.text-5 {
  font-size: 2rem;
}

.text-orange {
  color: theme-color('orange');
}
