p,
li {
  color: $gray-text;
  line-height: 1.6;
}

a,
a:focus,
a:hover,
a:active {
  color: $main-color;
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin-top: 0;
  text-shadow: none;
}

h1 i,
h2 i,
h3 i,
h4 i,
h5 i {
  margin-right: 7px;
}
