.form-control {
  box-shadow: none;

  &:focus {
    border-color: $main-color;
    box-shadow: none;
  }
}

.form-spacing .form-control {
  margin-bottom: 15px;
}

.form {
  span {
    &.error {
      color: $unify-red;
      display: inline-block;
      padding: 10px 0;
    }
  }
}
