.headline {
  display: block;
  margin: 0 0 15px;

  h1,
  h2,
  h3,
  h4,
  h5 {
    border-bottom: 2px solid theme-color('primary');
    color: gray('700');
    display: inline-block;
    margin: 0 0 -2px;
    padding-bottom: 5px;
  }
}
