.pagination {
  .page-item.active {
    a:focus,
    .page-link {
      background-color: theme-color('primary');
      border-color: theme-color('primary');
      color: theme-color('white');
    }

    a:hover {
      background-color: theme-color('secondary');
      border-color: theme-color('primary');
      color: color('white');
    }
  }
}
