.tab {
  .nav-tabs {
    background: none;
    border-bottom: solid 2px $main-color;
    margin-bottom: 20px;

    a {
      font-size: 14px;
      padding: 5px 15px;
    }

    > .active {
      > a:focus,
       > a:hover,
      > a {
        background: $main-color;
        border: none;
        color: $white;
      }
    }

    > li {
      > a:hover {
        background: $main-color;
        color: $white;
      }
    }
  }

  .tab-content {
    padding: 10px 0;

    img {
      margin-bottom: 15px;
      margin-top: 4px;

      .img-tab-space {
        margin-top: 7px;
      }
    }
  }
}
