.top {
  padding-top: 8px;

  .dropdown-menu {
    border: 1px solid $light-gray-text;
    box-shadow: none;
    margin-top: -5px;
    padding: 0;

    > li > a {
      font-size: 12px;
      padding: 8px 15px;
    }

    > li > a:hover {
      background: $main-color;
      color: $white;
    }
  }

  ul {
    &.loginbar {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 9999;

      > li {
        display: inline;
        list-style: none;
        padding-bottom: 15px;
      }

      > li > a,
      > li > a:hover {
        color: $gray-text;
        font-size: 11px;
        text-transform: uppercase;
      }

      li.devider {
        border-right: solid 1px $dark-gray;
        font-size: 8px;
        margin: 0 9px 0 5px;
        padding: 0;
        position: relative;
        top: -1px;
      }
    }
  }
}
