<div class="collapse navbar-collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav navbar-right">
    <% cache('main_menu', skip_digest: true) do %>
      <% global_menus = GlobalMenus.new %>
      <%= menu_dropdown(menus: global_menus.info_menus, title: t('menu.info')) %>
      <%= menu_dropdown(menus: global_menus.voting_menus, title: t('menu.voting')) %>
    <% end %>
  </ul>
</div>
